*{
    padding:0;
    margin:0;
}
:root{
    --primary-color:#22c55e;
    --secondary-color:#bbf7d0;
    --notification-color:#f97316;
    --offgreen:#f0fdf4;
    --darkerofseconadary:#86efac;
    --offorange:#ffedd5;
}
body{
    box-sizing: border-box;
    margin:50px 50px;
}
.section-og{
    background-color: var(--offgreen);
    margin:auto;
    padding:2rem 2rem;
}
.container-class{
    position:relative;
    margin:0rem 2rem;
    display:inline-block;
}
.badge{
    box-sizing:border-box;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:var(--notification-color);
    color:white;
    text-align:center;
    font-size:small;
    position:absolute;
    left:108px;
    bottom:5px;
    padding-top:3px;
}
.badge-button{
    padding:5px 10px;
    background-color:var(--darkerofseconadary);
    color:black;
    border-radius:3px;
    border:0px solid black;
    box-shadow: 0px 3px 5px lightgray;
    cursor:pointer;
}
.badge-button:hover{
    background-color: var(--primary-color);
}
.circle{
    left:50px; bottom:13px;
}
.icon{
    left:25px; bottom:20px;
}
 /*Drawer */
.center-content{
     display:flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin-top: 1.2rem;
}
 .wrapper{
     background-color: white;
     padding:10px 10px;
     box-shadow:1px 0px 3px gray;
     max-width: 200px;
     margin-top:1rem;
 }
 .rowise-list{
    box-sizing: border-box;
    list-style: none;
    font-size: large;
    font-weight: bold;
    padding:10px 10px;
}
.rowise-list:hover{
    cursor: pointer;
    background-color:var(--secondary-color);
}
 .icon-list{
     margin-left: -35px;
     margin-right: 30px;
     color:black;
 }
 .list-name{
     display:inline-block;
     padding-right: 2rem;
}
 .drawer-button{
    background-color: transparent;
    border:0px;
 }
 /* chips-component */
 .chips{
     max-width: unset;
     height:12vh;
     box-shadow: none;
     border-bottom: 1px solid black;
 }
 .row-chips{
     flex-direction: row;
     list-style: none;
     gap:20px;
}
 .chips-color{
     background-color: var(--secondary-color);
     padding:5px 5px;
     border-radius: 1.2rem;
 }
 .cross{
     border:0px; 
     padding:0px 4px 0px 3px;
     border-radius: 50%;
     margin-left: 5px;
     cursor: pointer;
 }




